.bg-custom {
    background-color: #E89214 !important;
  }
  .text-custom {
    color: #ffffff;
  }
  .footer-link {
    color: #ffffff;
    text-decoration: none;
  }
  .footer-link:hover {
    text-decoration: underline;
  }
  .border-custom {
    border-color: #ffffff !important;
  }
  .navbar{
    background-color: #E89214 !important;
  }
  .navbar img{
    height: 70px;
    width: 150px; 
  }

.logout-button {
  background-color: #fff;
  color: #E89214;
  border: 2px solid #E89214
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #E89214;
  color: #fff;
}

  
