.bookings-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.bookings-list {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.booking-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.booking-card button {
    background-color: #E89214;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

.profile-content {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.menu-item.active a,
.menu-item a:hover {
    background-color: #cb7e12;
    color: white;
}

.sidebar {
    position: sticky;
    top: 0;
}
